[Unit]
Description=NuOJ-Sandbox

[Service]
Type=simple
ExecStart=/etc/nuoj-sandbox/sandbox_be.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target